@tailwind base;
@tailwind components;
@tailwind utilities;

.content__item {
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}



.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}

.link--elara::before {
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--elara:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--elara:hover {
    color: #5D31FF;
}

.link--elara span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--elara:hover span {
    transform: translate3d(0, -2px, 0);
}


.gallery-btn-3{
    position: relative;
    right: 120px;
    top: 100px;
    width: 250px;
}

.shine-anim{
    padding: 3px 12px;
    border-radius: 35px;
    border: 1px solid #333;
    transition: 0.5s ease;
    overflow: hidden;
    position: relative;
    transition: 0.5s ease;
}

.shine-anim-2{
    width: 350px;
    height: 65px;
    border-radius: 35px;
    border: 1px solid #333;
    transition: 0.5s ease;
    overflow: hidden;
    position: relative;
    transition: 0.5s ease;
}

.shine-anim::before{
    content: " ";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #5D31FF, transparent);
    opacity: 0.2;
    z-index: -10;
    animation: shine 1.5s infinite;
    overflow: hidden;
}

.shine-anim:hover::before{
    background: linear-gradient(90deg, transparent, #333, transparent);
    animation: shine 1s infinite;
}

@keyframes shine{
    0% {

        left: -100%
    }
    100% {

        left: 100%
    }
}


@media screen and (min-width: 1200px) {
    .gallery-btn-3{
        right: -120px;
    }
}

.pitch {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pitch-con {
    width: 900px;
    height: 450px;
}